<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="/index.js/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <!-- Configuration CORS -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" /> <!-- Spécifiez les origines ici -->
                <add name="Access-Control-Allow-Methods" value="GET,HEAD,PUT,PATCH,POST,DELETE" />
                <add name="Access-Control-Allow-Headers" value="Content-Type,Authorization" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
